@page "/user-attendings"

<PageTitle>User attendings</PageTitle>

<h1>User attendings</h1>

<p>Display user attendings for chosen month.</p>


<table class="table">
    <thead>
        <tr>
            <th>Subject №1</th>
            <th>Subject №2</th>
            <th>Subject №3</th>
            <th>Subject №4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@code {

}
